# Espacializando as variáveis do ObservaSampa

In [1]:
import pandas as pd

In [2]:
import geopandas as gpd

In [3]:
df_var = pd.read_csv('resultados/variavel_resultado.csv.gz')

In [6]:
df_var

,Unnamed: 0,cd_sequencia_variavel_resultado,cd_periodo,cd_variavel,cd_regiao,cd_tipo_situacao,cd_tipo_origem,vl_variavel_resultado,dt_atualizacao,cd_do_operador
0,0,7477,28.0,30.0,104.0,1,1.0,560.0,2019-06-26 11:40:36.909635,184147.0
1,1,7478,29.0,30.0,104.0,1,1.0,722.0,2019-06-26 11:40:36.940842,184147.0
2,2,7479,30.0,30.0,104.0,1,1.0,1580.0,2019-06-26 11:40:36.972212,184147.0
3,3,7480,31.0,30.0,104.0,1,1.0,880.0,2019-06-26 11:40:37.003354,184147.0
4,4,7481,32.0,30.0,104.0,1,1.0,1491.0,2019-06-26 11:40:37.034678,184147.0
...,...,...,...,...,...,...,...,...,...,...
126367,126367,126368,41.0,382.0,32.0,1,1.0,57011.0,2021-01-19 11:27:54.582137,NaN
126368,126368,126369,41.0,382.0,9.0,1,1.0,72045.0,2021-01-19 11:27:54.660246,NaN
126369,126369,126370,41.0,382.0,12.0,1,1.0,56409.0,2021-01-19 11:27:54.738393,NaN
126370,126370,126371,41.0,382.0,7.0,1,1.0,47744.0,2021-01-19 11:27:54.832127,NaN
126371,126371,126372,41.0,382.0,29.0,1,1.0,39994.0,2021-01-19 11:27:54.910215,NaN

In [7]:
df_reg = pd.read_csv('resultados/regiao.csv.gz')

In [95]:
pd.set_option('display.max_rows', 10)

In [96]:
df_reg.cd_nivel_regiao.value_counts()

1    96
2    32
8     1
9     1
Name: cd_nivel_regiao, dtype: int64

In [97]:
df_reg[df_reg.cd_nivel_regiao == 1]

,Unnamed: 0,cd_regiao,cd_regiao_macro,sg_regiao,nm_regiao,cd_nivel_regiao,dt_atualizacao,cd_operador,cd_tipo_situacao,sg_regiao_smul,ds_codigo
19,19,171.0,NaN,SAM,Santo Amaro,1,2019-04-08 20:04:50.325183,t010001,1,D71,71.0
20,20,172.0,NaN,SLU,São Lucas,1,2019-04-08 20:04:50.325183,t010001,1,D72,72.0
21,21,173.0,NaN,SMA,São Mateus,1,2019-04-08 20:04:50.325183,t010001,1,D73,73.0
22,22,174.0,NaN,SMG,São Miguel,1,2019-04-08 20:04:50.325183,t010001,1,D74,74.0
23,23,175.0,NaN,SRA,São Rafael,1,2019-04-08 20:04:50.325183,t010001,1,D75,75.0
...,...,...,...,...,...,...,...,...,...,...,...
124,124,166.0,NaN,REP,República,1,2019-04-08 20:04:50.325183,t010001,1,D66,66.0
125,125,167.0,NaN,RPE,Rio Pequeno,1,2019-04-08 20:04:50.325183,t010001,1,D67,67.0
126,126,168.0,NaN,SAC,Sacomã,1,2019-04-08 20:04:50.325183,t010001,1,D68,68.0
127,127,169.0,NaN,SCE,Santa Cecília,1,2019-04-08 20:04:50.325183,t010001,1,D69,69.0
128,128,170.0,NaN,SAN,Santana,1,2019-04-08 20:04:50.325183,t010001,1,D70,70.0

In [98]:
gdf_distritos = gpd.GeoDataFrame.from_file(f'zip://GIS/SIRGAS_SHP_distrito.zip!SIRGAS_SHP_distrito')

In [99]:
gdf_distritos

,ds_cd_sub,ds_sigla,ds_subpref,ds_nome,ds_codigo,geometry
0,12,MOE,VILA MARIANA,MOEMA,32,"POLYGON ((331242.174 7392162.324, 331244.581 7..."
1,27,PQC,ITAQUERA,PARQUE DO CARMO,57,"POLYGON ((352597.619 7390119.444, 352588.233 7..."
2,08,PRD,LAPA,PERDIZES,60,"POLYGON ((330181.745 7396056.840, 330175.535 7..."
3,02,PIR,PIRITUBA-JARAGUA,PIRITUBA,63,"POLYGON ((325109.668 7405122.828, 325106.786 7..."
4,22,PRA,ERMELINO MATARAZZO,PONTE RASA,64,"POLYGON ((344705.681 7398735.565, 344705.867 7..."
...,...,...,...,...,...,...
91,19,GRA,CAPELA DO SOCORRO,GRAJAU,30,"POLYGON ((331412.267 7374796.393, 331590.932 7..."
92,08,JRE,LAPA,JAGUARE,41,"POLYGON ((322952.516 7394978.618, 323250.620 7..."
93,02,JAR,PIRITUBA-JARAGUA,JARAGUA,42,"POLYGON ((319172.403 7405179.204, 319174.204 7..."
94,23,JDH,SAO MIGUEL,JARDIM HELENA,44,"POLYGON ((352915.621 7402621.049, 352944.248 7..."
95,11,JDP,PINHEIROS,JARDIM PAULISTA,45,"POLYGON ((329605.461 7390837.489, 329600.764 7..."

In [100]:
gdf_distritos['ds_codigo'] = gdf_distritos.ds_codigo.astype('float64')

In [101]:
df_reg['ds_codigo'] = df_reg.loc[df_reg.sg_regiao_smul.str[0] == 'D', 'sg_regiao_smul'].str[1:3].astype('float64')

In [102]:
df_reg.ds_codigo

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
125    67.0
126    68.0
127    69.0
128    70.0
129     NaN
Name: ds_codigo, Length: 130, dtype: float64

In [103]:
gdf_distritos.merge(df_reg[df_reg.ds_codigo.notna()], on='ds_codigo', how='left')

,ds_cd_sub,ds_sigla,ds_subpref,ds_nome,ds_codigo,geometry,Unnamed: 0,cd_regiao,cd_regiao_macro,sg_regiao,nm_regiao,cd_nivel_regiao,dt_atualizacao,cd_operador,cd_tipo_situacao,sg_regiao_smul
0,12,MOE,VILA MARIANA,MOEMA,32.0,"POLYGON ((331242.174 7392162.324, 331244.581 7...",89,132.0,NaN,MOE,Moema,1,2019-04-08 20:04:50.325183,t010001,1,D32
1,27,PQC,ITAQUERA,PARQUE DO CARMO,57.0,"POLYGON ((352597.619 7390119.444, 352588.233 7...",115,157.0,NaN,PCA,Parque do Carmo,1,2019-04-08 20:04:50.325183,t010001,1,D57
2,08,PRD,LAPA,PERDIZES,60.0,"POLYGON ((330181.745 7396056.840, 330175.535 7...",118,160.0,NaN,PZE,Perdizes,1,2019-04-08 20:04:50.325183,t010001,1,D60
3,02,PIR,PIRITUBA-JARAGUA,PIRITUBA,63.0,"POLYGON ((325109.668 7405122.828, 325106.786 7...",121,163.0,NaN,PIR,Pirituba,1,2019-04-08 20:04:50.325183,t010001,1,D63
4,22,PRA,ERMELINO MATARAZZO,PONTE RASA,64.0,"POLYGON ((344705.681 7398735.565, 344705.867 7...",122,164.0,NaN,PRA,Ponte Rasa,1,2019-04-08 20:04:50.325183,t010001,1,D64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,19,GRA,CAPELA DO SOCORRO,GRAJAU,30.0,"POLYGON ((331412.267 7374796.393, 331590.932 7...",87,130.0,NaN,GRA,Grajaú,1,2019-04-08 20:04:50.325183,t010001,1,D30
92,08,JRE,LAPA,JAGUARE,41.0,"POLYGON ((322952.516 7394978.618, 323250.620 7...",99,141.0,NaN,JAE,Jaguaré,1,2019-04-08 20:04:50.325183,t010001,1,D41
93,02,JAR,PIRITUBA-JARAGUA,JARAGUA,42.0,"POLYGON ((319172.403 7405179.204, 319174.204 7...",100,142.0,NaN,JAR,Jaraguá,1,2019-04-08 20:04:50.325183,t010001,1,D42
94,23,JDH,SAO MIGUEL,JARDIM HELENA,44.0,"POLYGON ((352915.621 7402621.049, 352944.248 7...",102,144.0,NaN,JHE,Jardim Helena,1,2019-04-08 20:04:50.325183,t010001,1,D44
95,11,JDP,PINHEIROS,JARDIM PAULISTA,45.0,"POLYGON ((329605.461 7390837.489, 329600.764 7...",103,145.0,NaN,JPA,Jardim Paulista,1,2019-04-08 20:04:50.325183,t010001,1,D45

In [105]:
df_var_nomes = pd.read_csv('resultados/variavel.csv.gz')

In [106]:
df_var_nomes

,Unnamed: 0,cd_variavel,nm_resumido_variavel,nm_completo_variavel,dt_atualizacao,cd_operador,cd_fonte,cd_tipo_situacao,nm_apelido_variavel,dc_periodo_atualizacao,in_variavel_basica,dc_unidade_variavel,dc_periodicidade_variavel,dc_unidade_territorial,dc_serie_historica,dc_nota_tecnica,dc_observacao_variavel,tx_fonte_variavel
0,0,16.0,V001,mulheres com TPM,2019-02-01 16:07:27.602993,t010001,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,14.0,PIB582,Produto Interno Bruto,2019-01-29 15:50:13.555895,t010001,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,11.0,Cik89,Ciclovias implantadas ( km ),2019-01-28 10:36:21.299259,t010001,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7.0,Fdôa785,Frota de ônibus acessíveis,2019-01-28 12:07:00.804944,t010001,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,6.0,FdÔC882,Frota de Ônibus Cadastrada,2019-01-24 15:18:44.186643,t010001,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,463,239.0,V0198,População com deficiência motora,2019-08-01 10:53:34.722872,184207,10.0,1,NaN,NaN,NaN,Pessoa,Decenal,Município,2010,"Na contagem da população com deficiência, foi ...",NaN,Instituto Brasileiro de Geografia e Estatístic...
464,464,240.0,V0199,Servidores municipais ativos da administração ...,2019-08-01 11:01:22.932923,184207,52.0,1,NaN,NaN,NaN,Pessoa,Anual,Município,inicio: 2008 – atualmente,NaN,NaN,"Secretaria Municipal de Gestão (SMG),"
465,465,245.0,V0204,Famílias no cadastro único em situação de extr...,2019-08-01 11:18:21.183081,184207,45.0,1,NaN,NaN,NaN,Familia,Anual,Município,Início: 2013 – atualmente,Representa a quantidade de famílias sem rendim...,NaN,Secretaria Municipal de Assistência e Desenvol...
466,466,246.0,V0205,Famílias beneficiadas pelo Bolsa Família,2019-08-01 11:19:42.730200,184207,45.0,1,NaN,NaN,NaN,Familia,Anual,Município,inicio: 2014 – atualmente,NaN,NaN,Secretaria Municipal de Assistência e Desenvol...
467,467,241.0,V0200,Servidores ativos da administração direta do g...,2020-06-26 13:53:08.632797,184147,52.0,1,NaN,NaN,NaN,Pessoa,Anual,Município,inicio: 2008 – atualmente,NaN,NaN,"Secretaria Municipal de Gestão (SMG),"

In [107]:
df_periodos = pd.read_csv('resultados/periodo.csv.gz')

In [108]:
df_periodos

,Unnamed: 0,cd_periodo,vl_periodo,cd_tipo_periodo,cd_tipo_situacao,dt_atualizacao,cd_operador
0,0,1.0,1980,1,1,2018-01-01 00:00:00.000000,SJ2234
1,1,2.0,1981,1,1,2018-01-01 00:00:00.000000,SJ2234
2,2,3.0,1982,1,1,2019-04-10 15:35:55.000020,t010001
3,3,4.0,1983,1,1,2019-04-10 15:35:55.000030,t010001
4,4,5.0,1984,1,1,2019-04-10 15:35:55.000040,t010001
...,...,...,...,...,...,...,...
46,46,47.0,2026,1,1,2021-01-18 12:06:00.000000,SJ2234
47,47,49.0,2028,1,1,2021-01-18 12:08:00.000000,SJ2234
48,48,48.0,2027,1,1,2021-01-18 12:07:00.000000,SJ2234
49,49,50.0,2029,1,1,2021-01-18 12:09:00.000000,SJ2234
50,50,51.0,2030,1,1,2021-01-18 12:10:00.000000,SJ2234

In [114]:
df_indicador_resultados = pd.read_csv('resultados/indicador_resultado.csv.gz')

In [115]:
df_indicador_resultados

,Unnamed: 0,cd_sequencia_indicador_resultado,cd_regiao,cd_periodo,cd_indicador,cd_tipo_situacao,cd_tipo_origem,vl_indicador_resultado,dt_atualizacao,cd_operador
0,0,172463,166.0,24.0,268.0,3,3.0,11.2701,2019-11-14 16:43:56.359080,SJ2234
1,1,172464,167.0,24.0,268.0,3,3.0,5.7747,2019-11-14 16:43:56.437323,SJ2234
2,2,172465,168.0,24.0,268.0,3,3.0,17.1576,2019-11-14 16:43:56.499687,SJ2234
3,3,172466,169.0,24.0,268.0,3,3.0,7.1408,2019-11-14 16:43:56.577823,SJ2234
4,4,172467,170.0,24.0,268.0,3,3.0,0.0000,2019-11-14 16:43:56.655951,SJ2234
...,...,...,...,...,...,...,...,...,...,...
1531035,1531035,1461228,142.0,39.0,330.0,3,3.0,28.0765,2021-01-18 16:42:10.831531,SJ2234
1531036,1531036,1461249,157.0,39.0,330.0,3,3.0,59.4618,2021-01-18 16:42:14.240943,SJ2234
1531037,1531037,1461353,139.0,38.0,330.0,3,3.0,76.5999,2021-01-18 16:42:31.518422,SJ2234
1531038,1531038,1461359,144.0,38.0,330.0,3,3.0,43.9859,2021-01-18 16:42:32.502667,SJ2234
1531039,1531039,1461380,159.0,38.0,330.0,3,3.0,115.1564,2021-01-18 16:42:35.924974,SJ2234

In [116]:
df_indicadores = pd.read_csv('resultados/indicador.csv.gz')

In [117]:
df_indicadores

,Unnamed: 0,cd_indicador,nm_indicador,dc_formula_indicador,dc_conceito_indicador,dc_interpretacao_indicador,dc_nota_tecnica,in_visibilidade,cd_tipo_situacao,dt_atualizacao,...,cd_tipo_unidade_medida,cd_fonte,nm_completo_indicador,dc_periodicidade_indicador,dc_unidade_territorial,dc_serie_historica,dc_tag_indicador,dc_observacao_indicador,tx_fonte_indicador,in_consideracao_regiao
0,0,13.0,PIB per capita,"[{""caractere"":""PIB582"",""tipo"":""variavel""},{""ca...",NaN,NaN,NaN,False,3,2019-01-30 15:40:38.830537,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,1,7.0,TEste de exclusão,"[{""caractere"":""FdÔC882"",""tipo"":""variavel""},{""c...",NaN,NaN,NaN,True,3,2019-01-25 15:38:17.590074,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,2,1.0,Porcentagem da população com deficiência menta...,"[{""caractere"":""("",""tipo"":""agregador""},{""caract...",Porcentagem da população com deficiência menta...,SALVAR IXXXXXXX,"Na contagem da população com deficiência, foi ...",True,3,2019-01-24 10:37:49.389301,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,3,5.0,TEste de exclusão,"[{""caractere"":""FdÔC882"",""tipo"":""variavel""},{""c...",NaN,NaN,NaN,False,3,2019-01-25 13:40:50.882457,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,4,6.0,TEste de exclusão,"[{""caractere"":""FdÔC882"",""tipo"":""variavel""},{""c...",NaN,NaN,NaN,False,3,2019-01-25 15:36:10.068724,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,414,410.0,Proporção interna ao Distrito de empregos form...,"[{""caractere"":""("",""tipo"":""agregador""},{""caract...",Demonstra quais são as parcelas distribuídas p...,NaN,NaN,False,3,2020-06-02 11:23:57.142900,...,2,NaN,Percentual de empregos formais no setor de Ser...,Anual,Município,Inicio: 2002 - atualmente,NaN,NaN,Relação Anual de Informações Sociais (RAIS),False
415,415,91.0,Taxa de evasão escolar no Ensino Médio da rede...,"[{""caractere"":""("",""tipo"":""agregador""},{""caract...",NaN,NaN,NaN,False,1,2020-11-25 10:44:19.761688,...,2,NaN,Expressa o percentual de alunos matriculados n...,Anual,Município; Distrito; Subprefeitura,Início: 2016 - Atualmente\r\n,NaN,Lei Municipal nº 14.173/06\r\nO número de matr...,Censo Escolar do Ministério da Educação (MEC) ...,False
416,416,94.0,Taxa de repetência dos alunos no Ensino Fundam...,"[{""caractere"":""("",""tipo"":""agregador""},{""caract...",NaN,NaN,"O número de matrículas, contido na fórmula do ...",False,1,2020-11-25 10:46:39.846684,...,2,NaN,Expressa o percentual de alunos matriculados n...,Anual,Município; Distrito; Subprefeitura,Início: 2016 - atualmente,NaN,Lei nº 14.173/06\r\n,Censo do Ministério da Educação (MEC); Secreta...,False
417,417,96.0,Taxa de repetência dos alunos no Ensino Médio ...,"[{""caractere"":""("",""tipo"":""agregador""},{""caract...",NaN,NaN,"O número de matrículas, contido na fórmula do ...",False,1,2020-11-25 10:47:18.395534,...,2,NaN,Expressa o percentual de alunos matriculados n...,Anual,Município; Distrito; Subprefeitura,Início: 2008 - atualmente,NaN,Lei nº 14.173/06\r\n,Censo do Ministério da Educação (MEC); Secreta...,False
418,418,29.0,Taxa de Universalização da Educação Básica (%),"[{""caractere"":""("",""tipo"":""agregador""},{""caract...",Expressa se a população de determinada faixa e...,NaN,NaN,False,1,2020-11-25 10:47:53.319140,...,2,NaN,Percentual da população de 4 a 17 anos matricu...,Anual,Município; Distrito; Subprefeitura,Inicio: 2010 - atualmente,NaN,100% ou mais pode indicar que a cidade atrai p...,Fundação Sistema Estadual de Análise de Dados ...,False